[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"beautifulsoup4" = "*"
slackclient = "*"

[dev-packages]
pytest = "*"
isort = "*"
pytest-cov = "*"
coverage = "*"

[requires]
python_version = "3.6"
