[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true, extras = ["slack", "telegram"]}

[dev-packages]
pytest = "*"
isort = "*"
pytest-cov = "*"
coverage = "*"
codecov = "*"

[requires]
python_version = "3.6"
